<div class="all-jobs">
    <div class="options">
        <a href="/dashboard/create-job/{{currentUser._id}}">
            <button class="button">Create Job</button>
        </a>
        <a href="/dashboard/{{currentUser._id}}">
            <button class="button">Back to Dashboard</button>
        </a>

        <a href="/">
            <button class="button">Logout</button>
        </a>
    </div>
    <div class="job-board">
        {{#if allJobs}}
            {{#each allJobs}}
                <div class="jobs form animated animatedFadeInUp fadeInUp shadow">
                    <h4>Job</h4>
                    <p>{{job}}</p>
                    <h4>Description</h4>
                    <p>{{description}}</p>
                    {{#if ../currentUser.isAdmin}}
                    <a href="/job/edit/{{../currentUser._id}}/{{_id}}">
                        <button class="submit">Edit Jobs</button>
                    </a>
                    <form method="POST" action="/job/delete/{{../currentUser._id}}/{{_id}}?_method=DELETE">
                        <input type="submit" value="Delete Job" class="submit"/>
                    </form>
                    </a>
                    {{/if}}
                </div>
            {{/each}}
        {{else}}
        <h4 class="default-none text-shadow">No Jobs</h4>
        {{/if}}
    </div>
</div>
