<div class="all-jobs">
    <div class="job-board">
        {{#if allJobs}}
            {{#each allJobs}}
                <div class="jobs">
                    <h4>Job</h4>
                    <p>{{job}}</p>
                    <h4>Description</h4>
                    <p>{{description}}</p>
                    <a href="/jobs/{{_id}}">
                        <button>Edit Jobs</button>
                    </a>
                    <form method="POST" action="/job/delete/{{_id}}?_method=DELETE" class="form">
                        <input type="submit" value="Delete Job" class="submit"/>
                    </form>
                    </a>
                </div>
            {{/each}}
        {{else}}
        <h4>Nothing scheduled</h4>
        {{/if}}
    <a href="/dashboard/create-job/{{currentUser._id}}">
        <button>Create Job</button>
    </a>
    <a href="/dashboard/{{currentUser._id}}">
        <button>Back to Dashboard</button>
    </a>

    <a href="/">
        <button>Logout</button>
    </a>
    </div>
</div>
