<div class="all-schedules">
    <div class="dashboard">
        {{#if allSchedules}}
        {{#each allSchedules}}
            <div class="schedule">
                <h4>Description</h4>
                <p>{{description}}</p>
                <h4>Date Scheduled</h4>
                <p>{{dateScheduled}}</p>
                <h4>Scheduled By:</h4>
                <p>{{scheduledBy.username}}</p>
                <h4>Scheduled To:</h4>
                <p>{{scheduledTo.username}}</p>
                <a href="/schedule/{{_id}}">
                <button>Edit Schedule</button>
                </a>
                <form method="POST" action="/schedule/delete/{{_id}}?_method=DELETE" class="form">
                    <input type="submit" value="Delete Schedule" class="submit"/>
                </form>
                </a>
            </div>
        {{/each}}
        {{else}}
        <h4>Nothing scheduled</h4>
        {{/if}}
        <a href="/dashboard/create/{{currentUser._id}}">
            <button>Create Schedule</button>
        </a>
    <a href="/">
        <button>Logout</button>
    </a>
    </div>
</div>
