<div class="all-schedules">
    <div class="options">
    <a href="/dashboard/create/{{currentUser._id}}">
        <button class="button">Create Schedule</button>
    </a>
    <a href="/dashboard/create-job/{{currentUser._id}}">
        <button class="button">Create Job</button>
    </a>
    <a href="/dashboard/view-jobs/{{currentUser._id}}">
        <button class="button">View Jobs</button>
    </a>
    <a href="/users/edit/{{currentUser._id}}">
        <button class="button">Edit Profile</button>
    </a>
    <a href="/">
        <button class="button">Logout</button>
    </a>
    </div>
        <div class="dashboard">
        {{#if allSchedules}}
            {{#each allSchedules}}
                <div class="schedule form animated animatedFadeInUp fadeInUp shadow">
                    <h4>Job:</h4>
                    <p class="subtext">{{job}}</p>
                    <h4>Additional Notes:</h4>
                    <p class="subtext">{{description}}</p>
                    <h4>Date Scheduled:</h4>
                    <p class="subtext">{{dateScheduled}}</p>
                    <h4>Scheduled By:</h4>
                    <p class="subtext">{{scheduledBy}}</p>
                    <h4>Scheduled To:</h4>
                    <p class="subtext">{{scheduledTo}}</p>
                    <a href="/schedule/edit/{{scheduledBy}}/{{_id}}">
                        <button class="submit">Edit Schedule</button>
                    </a>
                    <form method="POST" action="/schedule/delete/{{scheduledBy}}/{{_id}}?_method=DELETE">
                        <input type="submit" value="Delete Schedule" class="submit"/>
                    </form>
                    </a>
                </div>
            {{/each}}
        {{else}}
        <h1 class="default-none text-shadow">Nothing scheduled</h1>
        {{/if}}
    </div>
</div>
