<div class="create-schedule">
<form method="POST" action="/schedule/create" class="form">
<h4>Job</h4>
  <select name="job" required="true">
    {{#each allJobs}}
      <option value="{{job}}">{{job}}</option>
    {{/each}}
  </select>
  <input type="text" name="description" required="true" value="{{allJobs.description}}" readonly class="hide"/>
  <h4>dateScheduled:</h4>
  <input type="date" min="" max="" id="datePicker" name="dateScheduled" required="true"/>
  <h4>scheduledBy:</h4>
  <p>{{currentUser.username}}</p>
  <input type="text" name="scheduledBy" required="true" value="{{currentUser._id}}" readonly class="hide"/>
  <h4>Scheduled To:</h4>
  <select name="scheduledTo" required="true">
    {{#each allUsers}}
      <option value="{{_id}}">{{username}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Create Schedule" class="submit"/>
</form>
</div>

<a href="/dashboard/{{currentUser._id}}">
  <button>Back to Dashboard</button>
</a>


<a href="/">
    <button>Logout</button>
</a>


{{!-- <div class="create-schedule">
<form method="POST" action="/schedule/create" class="form">
  <h4>Description:</h4>
  <textarea name="description" required="true" rows="5" cols="50"/></textarea>
  <h4>dateScheduled:</h4>
  <input type="date" min="" max="" id="datePicker" name="dateScheduled" required="true"/>
  <h4>scheduledBy:</h4>
  <input type="text" name="scheduledBy" required="true" value="{{currentUser.id}}" readonly/>
  <h4>Scheduled To:</h4>
  <select name="scheduledTo" required="true">
    {{#each allUsers}}
      <option value="{{_id}}">{{username}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Create Schedule" class="submit"/>
</form>
</div>

<a href="/">
    <button>Logout</button>
</a> --}}
