<div class="user-dashboard">
{{#if currentDashboard}}
  {{#each currentDashboard}}
  <div class="schedule form animated animatedFadeInUp fadeInUp shadow">
    <h4>Description</h4>
    <p>{{description}}</p>
    <h4>Date Scheduled</h4>
    <p>{{dateScheduled}}</p>
    <h4>Scheduled By:</h4>
    <p>{{scheduledBy}}</p>
    <h4>Scheduled To:</h4>
    <p>{{currentUser.username}}</p>
  </div>
  {{/each}}
{{else}}
  <h1 class="default-none text-shadow">Nothing scheduled</h1>
{{/if}}

<a href="/users/edit/{{currentUser._id}}">
  <button>Edit Profile</button>
</a>

<a href="/">
    <button>Logout</button>
</a>
</div>

