<div class="dashboard">
{{#if currentDashboard}}
  {{#each currentDashboard}}
  <div class="schedule">
    <h4>Description</h4>
    <p>{{description}}</p>
    <h4>Date Scheduled</h4>
    <p>{{dateScheduled}}</p>
    <h4>Scheduled By:</h4>
    <p>{{scheduledBy}}</p>
    <h4>Scheduled To:</h4>
    <p>{{scheduledTo}}</p>
  </div>
  {{/each}}
{{else}}
<h4>Nothing scheduled</h4>
{{/if}}

<a href="/">
    <button>Logout</button>
</a>
</div>

