<div class="edit-schedule">
<form method="POST" action="/schedule/edit/{{_id}}?_method=PUT" class="form">
  <h4>Description:</h4>
  <textarea name="description" required="true" rows="5" cols="50" value="{{description}}"/></textarea>
  <h4>dateScheduled:</h4>
  <input type="date" value="date" min="" max="" id="datePicker" name="dateScheduled" required="true"/>
  <h4>Scheduled To:</h4>
  <select name="scheduledTo" required="true">
    {{#each allUsers}}
      <option value="{{_id}}">{{username}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Edit Schedule" class="submit"/>
</form>
<form method="POST" action="/schedule/delete/{{_id}}?_method=DELETE" class="form">
  <input type="submit" value="Delete Schedule" class="submit"/>
</form>
</div>

<a href="/">
    <button>Logout</button>
</a>
