  <div class="job">
    <h4>Job</h4>
    <p>{{newJob.job}}</p>
    <h4>Description</h4>
    <p>{{newJob.description}}</p>
    <a href="/">
    <button>Logout</button>
    </a>        
    <div class="options">
    <a href="/job/{{newJob._id}}">
        <button>Edit Job</button>
    </a>
    </div>

    <a href="/dashboard/{{currentUser._id}}">
        <button>Back to Dashboard</button>
    </a>

    <form action="/job/delete/{{newJob._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete Schedule"/>
    </form>
    </div>
  </div>

