  <div class="schedule">
    <h4>Description</h4>
    <p>{{description}}</p>
    <h4>Date Scheduled</h4>
    <p>{{dateScheduled}}</p>
    <h4>Scheduled By:</h4>
    <p>{{scheduledBy.username}}</p>
    <h4>Scheduled To:</h4>
    <p>{{scheduledTo.username}}</p>
  </div>

<a href="/">
    <button>Logout</button>
</a>        

<a href="/schedule/{{_id}}">
    <button>Edit Schedule</button>
</a>
</div>

<a href="/dashboard/admin/{{_id}}">
    <button>Back to Dashboard</button>
</a>

<form action="/schedule/delete/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Schedule"/>
</form>