  <div class="schedule">
    <h4>Description</h4>
    <p>{{newSchedule.description}}</p>
    <h4>Date Scheduled</h4>
    <p>{{newSchedule.dateScheduled}}</p>
    <h4>Scheduled By:</h4>
    <p>{{newSchedule.scheduledBy.username}}</p>
    <h4>Scheduled To:</h4>
    <p>{{newSchedule.scheduledTo.username}}</p>
    <a href="/">
    <button>Logout</button>
    </a>        
    <div class="options">
    <a href="/schedule/{{newSchedule._id}}">
        <button>Edit Schedule</button>
    </a>
    </div>

    <a href="/dashboard/{{newSchedule.scheduledBy}}">
        <button>Back to Dashboard</button>
    </a>

    <form action="/schedule/delete/{{_id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete Schedule"/>
    </form>
    </div>
  </div>

