<div class="options">
  <a href="/dashboard/{{currentUser._id}}">
    <button class="button">Back to Dashboard</button>
</a>
</div>      
<div class="single-schedule form animated animatedFadeInUp fadeInUp shadow">
  <h4>Job:</h4>
  <p class="subtext">{{newSchedule.job}}</p>
  <h4>Additional Notes:</h4>
  <p class="subtext">{{newSchedule.description}}</p>
  <h4>Date Scheduled:</h4>
  <p class="subtext">{{newSchedule.dateScheduled}}</p>
  <h4>Scheduled By:</h4>
  <p class="subtext">{{currentUser.username}}</p>
  <h4>Scheduled To:</h4>
  <p class="subtext">{{scheduledUser.username}}</p>
  <a href="/schedule/edit/{{currentUser._id}}/{{newSchedule._id}}">
    <button class="submit">Edit Schedule</button>
  </a>
  <form method="POST" action="/schedule/delete/{{currentUser._id}}/{{newSchedule._id}}?_method=DELETE">
    <input type="submit" value="Delete Schedule" class="submit"/>
  </form>
</a>
</div>

