<div class="options">
  <a href="/dashboard/{{newSchedule.scheduledBy}}">
    <button class="button">Back to Dashboard</button>
</a>
</div>      
<div class="schedule form animated animatedFadeInUp fadeInUp shadow">
  <h4>Job:</h4>
  <p class="subtext">{{newSchedule.job}}</p>
  <h4>Additional Notes:</h4>
  <p class="subtext">{{newSchedule.description}}</p>
  <h4>Date Scheduled:</h4>
  <p class="subtext">{{newSchedule.dateScheduled}}</p>
  <h4>Scheduled By:</h4>
  <p class="subtext">{{newSchedule.scheduledBy}}</p>
  <h4>Scheduled To:</h4>
  <p class="subtext">{{newSchedule.scheduledTo}}</p>
  <a href="/schedule/edit/{{_id}}">
    <button class="submit">Edit Schedule</button>
  </a>
  <form method="POST" action="/schedule/delete/{{_id}}?_method=DELETE">
    <input type="submit" value="Delete Schedule" class="submit"/>
  </form>
</a>
</div>

